.Navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}


.navegacion{
    display: flexy;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    font-size: 35px;

}
